<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENTS RESULTS TRACKER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body{
            background-color: #3F1D38;
            /* #C683D7
            #ED9ED6 */
            font-family: cursive;
            font-weight: bold;
        }
        table{
            color:#ED9ED6;
            background-color: #3F1D38;
            border: #ED9ED6;
            border-style: solid;
            border-width: 2px;
        }
        .glow{
            
            padding:20px;
            margin-left:30%;
            margin-top:10%;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            box-shadow: 0 0 5px #C683D7,0 0 25px #C683D7;
        }
        .glow-head{
            align-items: center;
            display: flex;
            justify-content: center;
            color:#3F1D38;
            background-color: #C683D7;
            box-shadow: 0 0 5px #C683D7,0 0 25px #C683D7,0 0 50px #C683D7,0 0 100px #C683D7,0 0 200px #C683D7;
        }
        td,th{
            padding:10px;
        }
    </style>

</head>

    